<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <div class="container d-flex flex-column" style="margin-top: 70px;">
            <div class="row align-items-center justify-content-center no-gutters">
                <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

                    <!-- Heading -->
                    <h1 class="verify-code-text text-center">
                        Connection Status
                    </h1>



                    <%if (varibles.error) { %>
                        <div class="m-b-20 m-t-20  alert danger">
                            <%= varibles.error%>
                        </div>
                        <% } %>


                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <tbody>

                                            <tr>
                                                <td>IP address:</td>
                                                <td>
                                                    <%= varibles.ip %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>MAC address</td>
                                                <td>
                                                    <%= varibles.mac %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>session time</td>
                                                <td>
                                                    <%= varibles.uptime %>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>bytes up/down:</td>
                                                <td>
                                                    <%= varibles.bytesinnice %>
                                                        /
                                                        <%= varibles.bytesoutnice %>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>


                                    <div class="panel-footer">
                                        <a class="btn primary full-width"
                                        href="http://home.hotspot.sy/login" >Login</a>

                                    </div>

                                </div>
                            </div>


                </div>


            </div> <!-- / .row -->
        </div>



    </body>

</html>